@page "/bookings"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using UniqueSeafood.Models
@using UniqueSeafood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<UniqueSeafood.Data.UniqueSeafoodContext> DbFactory

<!--Show a list of booking records stored in the database-->

<PageTitle>Bookings</PageTitle>

<h1>List of Bookings</h1>

<hr />
<!--Table to show the list of records from the booking database-->
<QuickGrid Class="table" Items="context.Booking">
    <PropertyColumn Property="booking => booking.Title" />
    <PropertyColumn Property="booking => booking.FirstName" title="First Name" />
    <PropertyColumn Property="booking => booking.LastName" title="Last Name" />
    <PropertyColumn Property="booking => booking.NumberOfGuests" title="Number Of Guests" />
    <PropertyColumn Property="booking => booking.ContactNumber" title="Contact Number" />
    <PropertyColumn Property="booking => booking.EmailAddress" title="Email Address"/>
    <PropertyColumn Property="booking => booking.SpecialRequest" title="Special Request"/>
    <PropertyColumn Property="booking => booking.BookingDate" title="Booking Date"/>
    <PropertyColumn Property="booking => booking.BookingTime" title="Booking Time"/>

    <!--Utilsing Icons from Blazor Bootstrap to be used as links to pages-->
    <TemplateColumn Context="booking">
        <a href="@($"bookings/edit-booking?id={booking.Id}")" class="button-links">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </svg> Edit
        </a> |
        <a href="@($"bookings/show-booking-details?id={booking.Id}")" class="button-links">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
            </svg> Details
        </a> |
        <a href="@($"bookings/delete-booking?id={booking.Id}")" class="button-links">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
            </svg> Delete
        </a>
    </TemplateColumn>
</QuickGrid>

@code {
    private UniqueSeafoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
