@page "/"

<PageTitle>Home</PageTitle>

<!--Home Page of the Booking System-->

<h1 style="text-align:center;">Welcome to the Unique Seafood Booking System</h1>

<p>This is a system where customer bookings are being made and kept until date of booking has passed. It is a new way to store and manage bookings under one system. This helps both guests and waiters through this process quickly. Updates are still being made in order to create a more streamline process. Contact us with our email tech@gmail.com for any queries or errors you may experience with the web application. </p>

<div class="text-center">
   <img src="/images/Dining.jpg" alt="Dining" class="rounded"/>
</div>

